<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>zh_CN</string>
  <key>CFBundleDisplayName</key>
  <string>MoTuPerf</string>
  <key>CFBundleExecutable</key>
  <string>MoTuPerf.CrossPlatform</string>
  <key>CFBundleIdentifier</key>
  <string>com.motutest.motuperf</string>
  <key>CFBundleIconFile</key>
  <string>MoTuPerf</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>MoTuPerf</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>__MOTUPERF_SHORT_VERSION__</string>
  <key>CFBundleVersion</key>
  <string>__MOTUPERF_BUILD_VERSION__</string>
  <key>LSMinimumSystemVersion</key>
  <string>12.0</string>
  <key>LSRequiresNativeExecution</key>
  <true/>
  <key>NSHighResolutionCapable</key>
  <true/>
</dict>
</plist>
